
// Para manejar los estilos de los titulos

.titulo-seccion{
  font-family: fuente(nebula2);
  background-color: color(morado);
  color: color(blanco);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0 1rem;
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 10;
  @include mq(mds){
    font-size: 2rem;
  }
  @include mq(md){
    font-size: 2.2rem;
  }
  @include mq(lg){
    font-size: 2.7rem;
  }
  @include mq(lgm){
    font-size: 3rem;
  }
  &.directiva{
    background-color: color(blanco);
    color: color(morado);
    font-family: fuente(nebula1);
  }
  &.speak{
    background-color: color(rosado);
  }
  &.ediciones{
    background-color: color(celeste);
  }
  &.organizadores{
    background-color: color(verde);
  }
  &.contact{
    background-color: color(amarillo);
  }
}

.edicion-title, .organizadores-title{
  text-align: center;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: color(celeste);
    top: .75rem;
    left: 0;
    @include mq(mds){
      top: .9rem;
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: color(celeste);
    top: .75rem;
    right: 0;
    @include mq(mds){
      top: .9rem;
    }
  }
  & h3{
    font-family: fuente(nebula1);
    color: color(celeste);
    @include mq(mds){
      font-size: 1.7rem;
    }
    @include mq(lg){
      font-size: 2.3rem;
    }
  }
}

.organizadores-title{
  &:before{
    width: 20%;
    background-color: color(verde);
    @include mq(mds){
      width: 30%;
    }
  }
  &:after{
    width: 20%;
    background-color: color(verde);
    @include mq(mds){
      width: 30%;
    }
  }
  & h3{
    color: color(verde);
  }
}