
.icon-zoom{
  width: 30%;
  max-width: 100px;
  margin: 0 auto;
}

.icon-casco{
  position: relative;
  width: 25%;
  max-width: 200px;
  margin: 0 auto;
  top: 3rem;
  z-index: 100;
  @include mq(md){
    width: 15%;
  }
}