<section>
  <div class="footer-item">
    <img src="/src/assets/img/snmp.png" alt="SNMP">
  </div>
  <div class="footer-item">
    <img src="/src/assets/img/icon-manos.png" alt="Manos">
  </div>
  <div class="footer-item">
    <p>
      Juntos Generando Oportunidades Desde el sector minero energético
    </p>
  </div>
  <div class="footer-item">
    <a href="http://">
    ¡Conócenos!
    </a>
  </div>
</section>
<section class="footer-menu">
  <ul>
    <li>
      <a href="http://">Quiénes somos</a>
    </li>
    <li>
      <a href="http://">Términos y condiciones</a>
    </li>
    <li>
      <a href="http://">Objetivos del desarrollo sostenible</a>
    </li>
    <li>
      <a href="http://">Contacto</a>
    </li>
  </ul>
</section>