<section class="footer">
  <div class="footer-item">
    <img src="/src/assets/img/snmp.png" alt="SNMP">
  </div>
  <div class="footer-item manos">
    <img src="/src/assets/img/icon-manos.png" alt="Manos">
  </div>
  <div class="footer-item">
    <p>Juntos Generando Oportunidades</p>
    <p>Desde el sector minero energético</p>
  </div>
  <div class="footer-item">
    <a href="https://www.snmpe.org.pe" target="_blank">
    ¡Conócenos!
    </a>
  </div>
</section>
<section class="footer-menu">
  <ul>
    <li>
      <a href="https://com-unidad.pe/main/quienes-somos" target="_blank">Quiénes somos</a>
    </li>
    <li>
      <a href="https://com-unidad.pe/main/terminos" target="_blank">Términos y condiciones</a>
    </li>
    <li>
      <a href="https://com-unidad.pe/main/objetivos-desarrollo-sostenible" target="_blank">Objetivos del desarrollo sostenible</a>
    </li>
    <li>
      <a href="https://com-unidad.pe/main/contacto" target="_blank">Contacto</a>
    </li>
  </ul>
</section>