<section class="Header-container">
  <div class="Logo">
    <a href="#">
      <img src="/src/assets/img/logo.png" alt="Logo Ticar">
    </a>
  </div>
  <button class="Panel-btn hamburger hamburger--elastic"
          type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  {{> ../elementos/panel}}
</section>