// Para los estilos de la etiqueta header y todo lo que contenga dicha etiqueta, puedo crear distintos tipos de header con distinta distribución de los elementos clasico (menu, logo, iconos a redes sociales)

.Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: capa(capa10);
  width: 100%;
  max-width: $ancho-maximo;
  height: $altura-header;
  line-height: $altura-header;
  background-color: color(blanco);
}

.Header-container{
  position: relative;
  margin: 0 auto;
  @include mq(md){
    display: flex;
  }
}

.Logo{
  position: absolute;
  height: $altura-header;
  line-height: $altura-header;
  z-index: capa(capa1);
  @include mq(md){
    position: static;
    width: 30%;
  }
  & a{
    display: grid;
    width: auto;
    height: $altura-header;
    align-content: center;
  }
  & img{
    width: auto;
    height: 3.5rem;
    padding-left: 1rem;
  }
}

.hamburger{
  &:hover{
    opacity: 1;
  }
  &:focus{
    outline: 0;
    border: 0;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: color(morado);
  // position: fixed;
  // padding-right: 1rem;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after{
  background-color: color(blanco);
}



.Panel{
  position: fixed;
  z-index: capa(capa9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% + 5rem);
  overflow-y: auto;
  transition: transform .5s ease;
  // De arriba
  // transform: translate(0, -100%);
  // // De la izquierda
  // transform: translate(-100%, 0);
  // // De abajo
  // transform: translate(0, 100%);
  // De la derecha
  transform: translate(100%, 0);
  @include mq(md){
    position: static;
    width: 70%;
    display: flex;
    overflow-y: visible;
    background-color: transparent;
    transform: translate(0,0);
  }
  &.is-active{
    transform: translate(0,0);
  }
  &-btn{
    position: absolute;
    z-index: capa(capa10);
    top: -.5rem;
    right: 0;
    padding-right: 1rem;
    @include mq(lg){
      display: none;
    }
  }
  &-btn.is-active{
    position: fixed;
    right: 1rem;
  }
}

.Menu{
  margin: 0 auto;
  padding-top: $altura-header;
  text-align: center;
  height: 100%;
  background: $degradado;
  @include mq(lg){
    width: 100%;
    padding-top: 0;
    height: $altura-header;
    background: transparent;
  }
  & ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    @include mq(lg){
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  & li{
    margin-left: 0;
    line-height: 3.5rem;
    @include mq(sm){
      line-height: 4rem;
    }
    @include mq(lg){
      margin-left: .5rem;
      line-height: 5rem;
    }
  }
  & a{
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: color(blanco);
    transition: all .3s ease;
    // border: 2px solid red;
    margin: auto;
    @include mq(md){
      border: 2px solid red;
      padding: 0 .5rem;
      font-size: 1rem;
    }
    &:hover{
      background-color: color(rosado);
    }
  }
}