<section class="Modal" id="modalBa">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-bashir.jpg" alt="Bashir">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            ACELERANDO LA AUTOMATIZACIÓN Y DIGITALIZACIÓN
          </h2>
          <p>
            No cabe duda que la pandemia del Covid-19 detuvo el mundo y una gran parte de la industria extractiva se ha tenido que enfrentar a un escenario completamente distinto donde el confinamiento y las nuevas formas de comunicación se han vuelto elementos obligatorios a considerar cuando planeamos nuestra programación de actividades.
          </p>
          <p>
            Esta situación ha generado que decenas de compañías mineras hayan visto interrumpidas sus operaciones y muchos proyectos mineros estén evaluando reducir severamente la presencia del personal como medida para frenar la propagación del virus y así poder resguardar la salud de sus trabajadores.
          </p>
          <p>
            Sin embargo,  este escenario de pandemia  ha repotenciado y acelerado la industria extractiva automatizada y ha roto algunas de las barreras para el ingreso total de una fuerza laboral completamente robótica.  Las soluciones autónomas son altamente atractivas y están destinadas a mejorar la eficiencia, la productividad y la seguridad.
          </p>
          <div class="Modal-article-fecha">
            <p>
              Miércoles 23 Septiembre <span><i class="fas fa-circle"></i></span> 17:00 HRS
            </p>
          </div>
          <p>
            Este miércoles 23 de setiembre no te pierdas a  Bashir Fancy quien nos hablará  sobre beneficios y oportunidades de la digitalización y automatización en nuestras operaciones y como estas puedan aportar a mejorar nuestra productividad empresarial. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <button id="closeBa" class="closeModal"><i class="fas fa-times"></i></button>
</section>