<section class="Modal" id="modalMa">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-marushka.jpg" alt="Marushka">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            BIOSEGURIDAD: CREANDO ESPACIOS SEGUROS DENTRO DEL SECTOR MINERO ENERGÉTICO
          </h2>
        </div>
      </div>
    </div>
  </div>
  <button id="closeMa" class="closeModal"><i class="fas fa-times"></i></button>
</section>