<section class="Modal" id="modalDi">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-diego.jpg" alt="Dario">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            IMPACTO DE LA TECNOLOGÍA EN EL FÚTBOL PERUANO
          </h2>
          <p>
            Treinta y cinco años le tomó al Perú volver a estar presente en un mundial de fútbol.   Rusia 2018 fue el regreso triunfante de la selección peruana al certamen más importante del deporte rey luego de un largo camino de duras pruebas, de desesperanzas y expectativas rotas de jugadores e hinchas en todos esos años de intentos fallidos en cada eliminatoria donde aun teniendo el talento y jugando como nunca, terminábamos descalificados como siempre.
          </p>
          <p>
            Pero ¿Qué tienen en común la Selección de Fútbol y el sector minero energético en el Perú?
          </p>
          <p>
            Así como la selección pasó por un proceso de transformación y modernización que nos llevó finalmente al mundial, de la misma forma la industria extractiva tiene todas las cualidades y capacidades para ponerse el Perú al “hombro” y colaborar al crecimiento del país, reducir la pobreza y superar la crisis que el COVID 19 ha significado este año 2020.
          </p>
          <div class="Modal-article-fecha">
            <p>
              Lunes 21 Septiembre <span><i class="fas fa-circle"></i></span> 17:00 HRS
            </p>
          </div>
          <p>
            Este 21 de Setiembre no te pierdas a Diego Rebagliati, periodista deportivo y conductor del programa “Al Ángulo” en donde nos contará cuándo y cómo se inició el proceso de renovación de la selección peruana de fútbol que finalmente nos llevó nuevamente al mundial luego de un poco más de tres décadas de espera y cómo esta experiencia puede servirnos a las empresas a fomentar transformaciones importantes para beneficios de todos. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <button id="closeDi" class="closeModal"><i class="fas fa-times"></i></button>
</section>