<section class="Modal" id="modalDa">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-dario.jpg" alt="Dario">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            DIGITALIZACIÓN DE LAS COMUNIDADES
          </h2>
        </div>
      </div>
    </div>
  </div>
  <button id="closeDa" class="closeModal"><i class="fas fa-times"></i></button>
</section>