<section class="Modal" id="modalDo">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-dorn.jpg" alt="Dorn">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            ACELERACIÓN DE LA TRANSFORMACIÓN DIGITAL
          </h2>
        </div>
      </div>
    </div>
  </div>
  <button id="closeDo" class="closeModal"><i class="fas fa-times"></i></button>
</section>