<section class="Modal" id="modalMa">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-marushka.jpg" alt="Marushka">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            BIOSEGURIDAD: CREANDO ESPACIOS SEGUROS DENTRO DEL SECTOR MINERO ENERGÉTICO
          </h2>
          <p>
            La reanudación de las actividades económicas en el país ha significado un gran reto para todos los sectores productivos en especial a lo referente de poder crear espacios seguros que garanticen la seguridad de los trabajadores en este escenario de pandemia mundial generado por el COVID 19.
          </p>
          <p>
            Aún cuando las empresas del sector minero energético se han caracterizado por contar con altos estándares de salud y seguridad en el trabajo, el coronavirus ha impuesto el desafío de adaptar nuevos estándares de bioseguridad y el desarrollo de un protocolo sanitarios que nos brindan una guía para el manejo de la salud e integridad de nuestros colaboradores.
          </p>
          <div class="Modal-article-fecha">
            <p>
              Martes 22 Septiembre <span><i class="fas fa-circle"></i></span> 17:00 HRS
            </p>
          </div>
          <p>
            Encontrar soluciones tecnológicas de bioseguridad que se ajusten a nuestras necesidades operacionales ha sido un gran reto para el sector minero energético en el Perú.  Este 22 de Septiembre no te pierdas a Marushka Chocobar, secretaria de Gobierno Digital de la Presidencia del Consejo de Ministros, que nos contará la estrategia que impulsó el gobierno durante la cuarentena y los planes que se tienen para los próximos meses en función a la bioseguridad. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <button id="closeMa" class="closeModal"><i class="fas fa-times"></i></button>
</section>