<section class="Modal" id="modalCh">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-christine.jpg" alt="Christine">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            Conviviendo con el covid en el sector minero energético
          </h2>
          <p>
            No cabe duda que la propagación del coronavirus ha sido la principal causa de la contracción de la mayoría
            de los sectores económicos a nivel mundial. Son pocos los países que ante el inminente riesgo que el COVID 19 significa para la salud de los trabajadores, pudieron reaccionar oportunamente y soslayar los impactos negativos que las políticas de contención y propagación del virus pudieran tener en la productividad de cada sector económico.
          </p>
          <p>
            Entre todos estos países, es importante resaltar el buen desempeño que Australia tuvo respecto a proteger su actividad minera y darle las condiciones necesarias para que siga operando pero a la vez protegiendo la integridad de los trabajadores relacionado a dicho sector. Tal es así que el Gobierno declaró al sector minero como servicio escencial lo que permitió darle tranquilidad a las empresas de la continuidad de sus servicios.
          </p>
          <p>
            Asimismo, el fortalecido cluster de Proveedores de Equipos, Tecnologías y Servicios para la Minería (METS por su siglas en ingles) ha sido capaz de, rápidamente, adaptarse a los impactos y retos asociados al COVID 19. No obstante, si bien esto no quiere decir que el sector minero es inmune, el prevaleciente espíritu innovador de sus emprendedores ha permitido a las empresas adapatarse rápidamente a las necesidades de su
            cliente.
          </p>
          <div class="Modal-article-fecha">
            <p>
              Lunes 26 Septiembre <span><i class="fas fa-circle"></i></span> 17:00 HRS
            </p>
          </div>
          <p>
            Este Lunes 26 de setiembre a las 5:00pm no te pierdas las charla de Christine Gibbs, Chief Executive Officer of Austmine, Australia, que nos contará como las empresas mineras y proveedoras se ajustaron rápidamente a los retos del COVID 19.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button id="closeCh" class="closeModal"><i class="fas fa-times"></i></button>
</section>