<section class="Modal" id="modalTe">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-terry.jpg" alt="Terry">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            CIBERSEGURIDAD EN LA INDUSTRIA 4.0
          </h2>
          <p>
            Frente al avance del COVID-19 en el mundo, las corporaciones se  enfrentan a desafíos cibernéticos constantemente.  Y es que a medida que las empresas han tenido que pasar a trabajar desde casa para proteger a sus trabajadores,  la “operación”  se ha trasladado vertiginosamente al mundo digital lo cual ha aumentado considerablemente el riesgo de posibles ataques cibernéticos. 
          </p>
          <p>
            El principal desafío con el COVID 19 es entonces cómo aseguran que las principales funciones del negocio operen sin interrupción y  además de cómo mantener a la organización protegida de los ciberdelincuentes que se aprovechan de la incertidumbre de la situación.
          </p>
          <p>
            En estos meses de pandemia el teletrabajo y las comunicaciones entre personas reducidas a llamadas y videollamadas, han aumentado los fallos en la seguridad y se estima que sólo en el primer trimestre de 2020 los ciberataques aumentaron un 125% en Europa y un 40% a nivel mundial.
          </p>
          <p>
            Estos delitos cibernéticos han hecho que tanto las organizaciones tanto públicas como privadas,  empiecen a aumentar su gasto en ciberseguridad sin embargo ¿Qué consideraciones debemos tener para proteger nuestra operación e información?
          </p>
          <div class="Modal-article-fecha">
            <p>
            Jueves 24 Septiembre <span><i class="fas fa-circle"></i></span> 17:00 HRS
            </p>
          </div>
          <p>
            Este Jueves 24 de Setiembre no te pierdas a Terry Cuttler en nuestro XI Simposium TICAR donde nos contará lo que hay que tener en cuenta cuando pensamos en la relación de  ciberseguridad  y empresa,  pero también nos  las perspectivas de su libro “Insider Secrets to INTERNET SAFETY: Advice from a Professional Hacker”.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button id="closeTe" class="closeModal"><i class="fas fa-times"></i></button>
</section>