<section class="Modal" id="modalTe">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-terry.jpg" alt="Terry">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            CIBERSEGURIDAD EN LA INDUSTRIA 4.0
          </h2>
        </div>
      </div>
    </div>
  </div>
  <button id="closeTe" class="closeModal"><i class="fas fa-times"></i></button>
</section>