<section class="Modal" id="modalBa">
  <div class="Modal-item">
    <div class="Modal-item-banner">
      <img src="/src/assets/img/banners/banner-bashir.jpg" alt="Bashir">
    </div>
    <div class="Modal-item-body">
      <div class="Modal-article">
        <div class="Modal-article-title">
          <h2>
            ACELERANDO LA AUTOMATIZACIÓN Y DIGITALIZACIÓN
          </h2>
        </div>
      </div>
    </div>
  </div>
  <button id="closeBa" class="closeModal"><i class="fas fa-times"></i></button>
</section>