<section class="Panel">
  <nav class="Menu">
    <ul>
      <li><a class="Menu-link" href="#nosotros">Nosotros</a></li>
      <li><a class="Menu-link" href="#speakers">Speakers</a></li>
      <li><a class="Menu-link" href="#programa">Programa</a></li>
      <li><a class="Menu-link" href="#ediciones">Ediciones</a></li>
      <li><a class="Menu-link" href="#organizadores">Organizadores</a></li>
      <li><a class="Menu-link" href="#contacto">Contacto</a></li>
      <li><a class="Menu-link-externo" href="https://zoom.us/webinar/register/WN_BE_DBlkZRl2r2zuXeVa7JQ" target="_blank" rel="noopener noreferrer">Inscíbete aquí</a></li>
    </ul>
  </nav>
</section>