
<div class="dias not-full" id="dias">

  <div class="dia">
    <p class="dia-titulo activo">
      Lunes 21
    </p>
    <p class="dia-descripcion">
      Conviviendo con el Covid 19
    </p>
  </div>

  <div class="dia">
    <p class="dia-titulo">
      Martes 22
    </p>
    <p class="dia-descripcion">
      Bioseguridad: Creando espacios seguros
    </p>
  </div>

  <div class="dia">
    <p class="dia-titulo">
      Miercoles 23
    </p>
    <p class="dia-descripcion">
      Acelerando la automatización y digitalización
    </p>
  </div>

  <div class="dia">
    <p class="dia-titulo">
      Jueves 24
    </p>
    <p class="dia-descripcion">
      Ciberseguridad en la industria 4.0
    </p>
  </div>

  <div class="dia">
    <p class="dia-titulo">
      Viernes 25
    </p>
    <p class="dia-descripcion">
      Transformación digital e innovación / Digitalización de las comunidades
    </p>
  </div>

</div>

<div class="programas">

  <div class="programa activo">
    Lunes 21
  </div>

  <div class="programa">
    Martes 22
  </div>

  <div class="programa">
    Miercoles 23
  </div>

  <div class="programa">
    Jueves 24
  </div>

  <div class="programa">
    Viernes 25
  </div>

</div>