
<div class="dias not-full" id="dias">

  <div class="dia lunes">
    <p class="dia-titulo activo">
      Lunes 21
    </p>
    <p class="dia-descripcion">
      Conviviendo con el Covid 19
    </p>
  </div>

  <div class="dia martes">
    <p class="dia-titulo">
      Martes 22
    </p>
    <p class="dia-descripcion">
      Bioseguridad: Creando espacios seguros
    </p>
  </div>

  <div class="dia miercoles">
    <p class="dia-titulo">
      Miercoles 23
    </p>
    <p class="dia-descripcion">
      Acelerando la automatización y digitalización
    </p>
  </div>

  <div class="dia jueves">
    <p class="dia-titulo">
      Jueves 24
    </p>
    <p class="dia-descripcion">
      Ciberseguridad en la industria 4.0
    </p>
  </div>

  <div class="dia viernes">
    <p class="dia-titulo">
      Viernes 25
    </p>
    <p class="dia-descripcion">
      Transformación digital e innovación / Digitalización de las comunidades
    </p>
  </div>

</div>

<div class="programas">

  <div class="programa activo">
    <div class="programa-titulo">
      <h3>Inauguración y sesión de apertura</h3>
    </div>

    <div class="programa-body">

      <div class="programa-horas">
        <p>17:00</p>
        <span> - </span>
        <p>17:10 HRS</p>
      </div>

      <div class="programa-descripcion">
        <h4>Palabras de bienvenida</h4>
        <p>Edward Alarcon - Presidente del Comité de Tecnología e Innovación</p>
        <p>Pablo de la Flor / Manuel Fumagalli - SNMPE</p>
      </div>

      <div class="programa-horas border-none">
        <p>17:10</p>
        <span> - </span>
        <p>17:50 HRS</p>
      </div>

      <div class="programa-descripcion border-none">
        <h4>Impacto de la tecnología en el futbol peruano</h4>
        <div class="discusion">
          <div class="discusion-item1">
            <p>Panelistas:</p>
          </div>
          <div class="discusion-item2">
            <p>Diego Rebagliati - Comentarista Deportivo Movistar Deportes y RPP</p>
            <p>Rafael Estrada - Gerente de TIC y Control de Procesos en Compañía Minera Antamina</p>
            <p>Silvia Dioses - Directora de Gestión Empresarial en ISA REP</p>
            <p>Edward Alarcón - Presidente del Comité de Tecnología e Innovación en la SNMPE</p>
            <p>Huawei</p>
          </div>
        </div>
      </div>

    </div>

    <div class="programa-titulo morado">
      <h3>Conviviendo con el covid 19 en el sector minero energético</h3>
    </div>

    <div class="programa-body">

      <div class="programa-horas border-none">
        <p>17:50</p>
        <span> - </span>
        <p>18:20 HRS</p>
      </div>

      <div class="programa-descripcion border-none">
        <h4>Key Speaker</h4>
        <p>Christine Gibbs - Chief Executive Officer of Austimine</p>
      </div>

    </div>

    <div class="programa-titulo">
      <h3>Presentación de Estudio de Benchmarking Tica SNMPE - Esan</h3>
    </div>

    <div class="programa-body">
      <div class="programa-horas">
        <p>18:20</p>
        <span> - </span>
        <p>18:50 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>Peter Yamakawa - Decano de ESAN Graduate School of Business</p>
        <p>Eddie Morriss - Director del MBA ESAN</p>
        <p>William Coronado - Gerente TICA en Minera Chinalco</p>
        <p>Edward Alarcón - Gerente Corporativo TI en Hochschild Mining Perú</p>
        <p>Rafael Estrada - Gerente de TIC y Control de Procesos en Compañía Minera Antamina</p>
      </div>
      <div class="programa-horas">
        <p>18:50</p>
        <span> - </span>
        <p>19:00 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>Preguntas del Público</p>
      </div>
      <div class="programa-horas border-none">
        <p>19:00 HRS</p>
      </div>
      <div class="programa-descripcion border-none">
        <p>Palabras de cierre - Edward Alarcón</p>
      </div>
    </div>

  </div> {{!-- Fin programa --}}

  <div class="programa">
    <div class="programa-titulo">
      <h3>BIOSEGURIDAD: CREANDO ESPACIOS SEGUROS DENTRO DEL SECTOR MINERO ENERGÉTICO</h3>
    </div>
    <div class="programa-body">
      <div class="programa-horas border-none">
        <p>17:00</p>
        <span> - </span>
        <p>17:25 HRS</p>
      </div>
      <div class="programa-descripcion border-none">
        <p>Marushka Chocobar</p>
        <p>Secretaria Gobierno Digital – Presidencia del Consejo de Ministros del Perú</p>
      </div>
    </div>
    <div class="programa-titulo">
      <h3>TECNOLOGÍAS DE BIOSEGURIDAD</h3>
    </div>
    <div class="programa-body">
      <div class="programa-horas">
        <p>17:25</p>
        <span> - </span>
        <p>18:10 HRS</p>
      </div>

      <div class="programa-descripcion">
        <h4>Panel de discusión</h4>

        <div class="discusion">
          <div class="discusion-item1">
            <p>Moderador:</p>
          </div>
          <div class="discusion-item2">
            <p>Silvia Dioses - Directora de gestión Empresarial ISA REP</p>
          </div>
        </div>

        <div class="discusion">
          <div class="discusion-item1">
            <p>Panelistas:</p>
          </div>
          <div class="discusion-item2">
            <p>Enrique Ferrand - Gerente del Sector Minería SNMPE</p>
            <p>Raún Días Otoya - Presidente del Comité de Salud y Seguridad en SNMPE</p>
            <p>Juan Carlos Pereyra - Superintendente de TI en Consorcio Minero Horizonte</p>
          </div>
        </div>
          
      </div>

      <div class="programa-horas">
        <p>18:10</p>
        <span> - </span>
        <p>18:35 HRS</p>
      </div>

      <div class="programa-descripcion">
        <p>Huawei</p>
      </div>

      <div class="programa-horas">
        <p>18:35</p>
        <span> - </span>
        <p>19:00 HRS</p>
      </div>

      <div class="programa-descripcion">
        <p>Patrocinador / Auspiciador</p>
      </div>

      <div class="programa-horas border-none">
        <p>19:00</p>
        <span> - </span>
        <p>19:10 HRS</p>
      </div>

      <div class="programa-descripcion border-none">
        <p>Preguntas del Público</p>
      </div>

    </div>

  </div> {{!-- Fin programa --}}

  <div class="programa">
    <div class="programa-titulo">
      <h3>ACELERANDO LA AUTOMATIZACIÓN Y DIGITALIZACIÓN</h3>
    </div>

    <div class="programa-body">
      <div class="programa-horas">
        <p>17:00</p>
        <span> - </span>
        <p>17:30 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>Bashir Fancy - President of BizTech Professionals Association of Canada</p>
      </div>
      <div class="programa-horas">
        <p>17:30</p>
        <span> - </span>
        <p>18:00 HRS</p>
      </div>
      <div class="programa-descripcion">
        <h4>Panel de discusión</h4>
        <div class="discusion">
          <div class="discusion-item1">
            <p>Moderador:</p>
          </div>
          <div class="discusion-item2">
            <p>Eduardo Rojas - Gerente de Tecnologías de Información Hudbay Perú</p>
          </div>
        </div>
        <div class="discusion">
          <div class="discusion-item1">
            <p>Panelistas:</p>
          </div>
          <div class="discusion-item2">
            <p>
              Miguel Canz - Gerente Regional de Servicios y Soporte Tecnológico en América Minera las Bambas
            </p>
            <p>
              Olga Lucía Lopez - VP Tecnología ISA
            </p>
          </div>
        </div>
      </div>
      <div class="programa-horas">
        <p>18:00</p>
        <span> - </span>
        <p>18:25 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>Nokia</p>
      </div>
      <div class="programa-horas">
        <p>18:25</p>
        <span> - </span>
        <p>18:50 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>Sabrina Muñoz</p>
        <p>Global HeadBusiness Development Big Data & AI Latam Región de Telefónica</p>
      </div>
      <div class="programa-horas">
        <p>18:50</p>
        <span> - </span>
        <p>19:00 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>Patrocinador / Auspiciador</p>
      </div>
      <div class="programa-horas">
        <p>19:00</p>
        <span> - </span>
        <p>19:15 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>Huawei</p>
      </div>
      <div class="programa-horas border-none">
        <p>19:15</p>
        <span> - </span>
        <p>19:30 HRS</p>
      </div>
      <div class="programa-descripcion border-none">
        <p>Preguntas del Público</p>
      </div>
    </div>
  </div> {{!-- Fin programa --}}

  <div class="programa">
    <div class="programa-titulo">
      <h3>CIBERSEGURIDAD EN LA INDUSTRIA 4.0</h3>
    </div>

    <div class="programa-body">
      <div class="programa-horas border-none">
        <p>17:00</p>
        <span> - </span>
        <p>17:30 HRS</p>
      </div>
      <div class="programa-descripcion border-none">
        <p>Terry Cutler Founder and CEO - Cyology Labs Inc.</p>
      </div>
    </div>

    <div class="programa-titulo">
      <h3>CIBERSEGURIDAD POSTPANDEMIA</h3>
    </div>

    <div class="programa-body">
      <div class="programa-horas">
        <p>17:30</p>
        <span> - </span>
        <p>18:00 HRS</p>
      </div>
      <div class="programa-descripcion">
        <h4>Panel de discusión</h4>
        <div class="discusion">
          <div class="discusion-item1">
            <p>Moderador:</p>
          </div>
          <div class="discusion-item2">
            <p>Edward Alarcón - Gerente Corporativo de Tecnología de Información Hochschild Mining Perú</p>
          </div>
        </div>

        <div class="discusion">
          <div class="discusion-item1">
            <p>Panelistas:</p>
          </div>
          <div class="discusion-item2">
            <p>Julio Lizarraga - Especialista Ciberseguridad ISA REP</p>
            <p>William Coronado - Gerente TICA Minera Chinalco</p>
            <p>Peter Cayo - Líder de ciberseguridad en Antamina *</p>
            <p>Luis Mendoza - COGA *</p>
          </div>
        </div>

      </div>
      <div class="programa-horas">
        <p>18:00</p>
        <span> - </span>
        <p>18:25 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>Diego Espitia</p>
      </div>
      <div class="programa-horas">
        <p>18:25</p>
        <span> - </span>
        <p>18:50 HRS</p>
      </div>
      <div class="programa-descripcion">
        <p>INTERNEXA</p>
      </div>
      <div class="programa-horas border-none">
        <p>18:50</p>
        <span> - </span>
        <p>19:00 HRS</p>
      </div>
      <div class="programa-descripcion border-none">
        <p>Preguntas del Público</p>
      </div>
    </div>

    <div class="asterisco">
      <p>* Por confirmar</p>
    </div>

  </div> {{!-- Fin programa --}}

  <div class="programa">
    <div class="programa-titulo">
      <h3>TRANSFORMACIÓN DIGITAL E INNOVACIÓN DE LA INDUSTRIA 4.O</h3>
    </div>

    <div class="programa-body">
      <div class="programa-horas border-none">
        <p>17:00</p>
        <span> - </span>
        <p>17:30 HRS</p>
      </div>

      <div class="programa-descripcion border-none">
        <h4>Aceleración de la Transformación Digital</h4>
        <p>Dorn Carranza, Associate Director for Strategic Partnerships and Innovation, U.S. Food and Drug Administration</p>
      </div>
    </div>

    <div class="programa-titulo">
      <h3>Digitalización de las Comunidades</h3>
    </div>

    <div class="programa-body">

      <div class="programa-horas">
        <p>17:30</p>
        <span> - </span>
        <p>18:00 HRS</p>
      </div>

      <div class="programa-descripcion">
        <p>Presidente del Comité Social – SNMPE. Vicepresidente de Asuntos Corporativos - Compañía Minera Antamina</p>
        <p>Darío Zegarra - Antamina</p>
      </div>

      <div class="programa-horas">
        <p>18:00</p>
        <span> - </span>
        <p>18:25 HRS</p>
      </div>

      <div class="programa-descripcion">
        <p>Luis Miguel Sakihama</p>
        <p>Director de Innovación MDP Consulting</p>
      </div>

      <div class="programa-horas">
        <p>18:25</p>
        <span> - </span>
        <p>19:10 HRS</p>
      </div>

      <div class="programa-descripcion">
        <h4>Discusión de Panelistas</h4>

        <div class="discusion">
          <div class="discusion-item1">
            <p>Panelistas:</p>
          </div>
          <div class="discusion-item2">
            <p>Ana María Chalco - Gerente de TI *</p>
            <p>Inkia Energy</p>
            <p>Clara Larrabure - Jefe de Tecnología de Información, Comunicación y Gestión de Procesos - Marsa</p>
            <p>Ruth Escobar - Jefe de Proyectos de Calidad Cerro Verde *</p>
            <p>Luis Alburquerque Castro - Gerente de Responsabilidad Social Kallpa</p>
            <p>Carmen Marina Cuba - Gerente de Relaciones Comunitarias Hochschild</p>
          </div>
        </div>

      </div>

      <div class="programa-horas">
        <p>19:10</p>
        <span> - </span>
        <p>19:20 HRS</p>
      </div>

      <div class="programa-descripcion">
        <p>Preguntas del Público</p>
      </div>

      <div class="programa-horas border-none">
        <p>19:20 HRS</p>
      </div>

      <div class="programa-descripcion border-none">
        <h4>Clausura</h4>
        <p>Edward Alarcón - Presidente del Comité de Tecnología e Innovación de la SNMPE</p>
      </div>

    </div>

    <div class="asterisco">
      <p>* Por confirmar</p>
    </div>

  </div> {{!-- Fin programa --}}

</div>