
.ligthbox{
  // border: 2px solid red;
  & .column{
    // border: 2px solid blue;
    overflow-x: hidden;
  }
}

#featured, #featured2{
  display: block;
  width: 100%;
  // max-width: 800px;
  // max-height: 600px;
  object-fit: cover;
  cursor: pointer;
  // border: 2px solid green;
}

#slide-wrapper, #slide-wrapper2{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

#slider, #slider2{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: 100%;
}

.arrow{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
  &:hover{
    opacity: .5;
    width: 35px;
    height: 35px;
  }
}

.thumbnail, .thumbnail2{
  object-fit: cover;
  width: 110px;
  display: block;
  height: auto;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  // border: 2px solid color(morado);
  &:hover{
    opacity: 1;
  }
}

.active, .active2{
  opacity: 1;
}