<section id="contacto">
  <h2>Contacto</h2>
  <div class="contacto">

    <div class="contacto-item">
      <div class="contacto-item-card">
        <img src="/src/assets/img/icon-user.png" alt="Usuario">
        <p>Luis Felipe Gil</p>
      </div>
      <div class="contacto-item-card">
        <img src="/src/assets/img/icon-mail.png" alt="Usuario">
        <p>lgil@snmpe.org.pe</p>
      </div>
    </div>

    <div class="contacto-item">
      <div class="contacto-item-card">
        <img src="/src/assets/img/icon-user.png" alt="Usuario">
        <p>Yenny Castillo</p>
      </div>
      <div class="contacto-item-card">
        <img src="/src/assets/img/icon-mail.png" alt="Usuario">
        <p>ycastillo@snmpe.org.pe</p>
      </div>
    </div>

  </div>
</section>