<section>
  <h2 class="titulo-seccion directiva">Comité Directivo</h2>
  <div class="directiva-cards">

    <div class="directiva-card">
      <div class="card-img">
        <img src="/src/assets/img/edwar.jpg" alt="Edward Alarcón">
      </div>
      <div class="card-description">
        <h2>Presidente</h2>
        <p>Edward Alarcón</p>
        <p>
          Gerente Corporativo de Tecnología de información
        </p>
        <p class="italica">
          Compañia minera Ares s.a.c
        </p>
      </div>
    </div>

    <div class="directiva-card">
      <div class="card-description rosado">
        <h2>Vice Presidente de Minería</h2>
        <p>Rafel Estrada Hora</p>
        <p>
          Gerente de Tecnología de información, Telecomunicaciones y Control de Procesos
        </p>
        <p class="italica">
          Compañia minera Antamina S.A.
        </p>
      </div>
      <div class="card-img">
        <img src="/src/assets/img/rafael.jpg" alt="Rafael Estrada">
      </div>
    </div>

    <div class="directiva-card">
      <div class="card-img">
        <img src="/src/assets/img/silvia.jpg" alt="Silvia Dioses">
      </div>
      <div class="card-description celeste">
        <h2>Vice Presidente de Energía</h2>
        <p>Silvia Dioses Farfán</p>
        <p>
          Gerente de Tecnología de información, Telecomunicaciones y Control de Procesos
        </p>
        <p class="italica">
          Red de energía del Perú S.A.
        </p>
      </div>
    </div>

    <div class="directiva-card">
      <div class="card-description rosado2">
        <h2>Vice Presidente Hidrocarburos</h2>
        <p>Alessandri Zapata</p>
        <p>
          Jefe de Transformación Digital
        </p>
        <p class="italica">
          Graña y Montero Petrolera S.A.
        </p>
      </div>
      <div class="card-img">
        <img src="/src/assets/img/alessandri.jpg" alt="Alessandri Zapata">
      </div>
    </div>

  </div>
</section>