<section class="comite-directivo">
  <h2 class="titulo-seccion directiva">Comité Directivo</h2>
  <div class="directiva-cards">

    <div class="directiva-card-impar">
      <div class="card-img">
        <img src="/src/assets/img/edwar.jpg" alt="Edward Alarcón">
      </div>
      <div class="card-box">

        <div class="box-impar">
          <img src="/src/assets/img/caja-morada.png">
          <div class="card-description-edward">
            <h2 class="directiva-titulo">Presidente</h2>
            <p class="directiva-nombre">Edward Alarcón</p>
            <p class="directiva-cargo">
              Gerente Corporativo de Tecnología de información
            </p>
            <p class="directiva-empresa">
              Compañia minera Ares s.a.c
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="directiva-card-par">
      <div class="card-box">

        <div class="box-par">
          <img src="/src/assets/img/caja-rosada.png">
          <div class="card-description-rafael">
            <h2 class="directiva-titulo">Vice Presidente de Minería</h2>
            <p class="directiva-nombre">Rafael Estrada Hora</p>
            <p class="directiva-cargo">
              Gerente de Tecnología de información, Telecomunicaciones y Control de Procesos
            </p>
            <p class="directiva-empresa">
              Compañia minera Antamina S.A.
            </p>
          </div>
        </div>
        
      </div>
      <div class="card-img">
        <img src="/src/assets/img/rafael.jpg" alt="Rafael Estrada">
      </div>
    </div>

    <div class="directiva-card-impar">
      <div class="card-img">
        <img src="/src/assets/img/silvia.jpg" alt="Silvia Dioses">
      </div>
      <div class="card-box">

        <div class="box-impar">
          <img src="/src/assets/img/caja-celeste.png">
          <div class="card-description-silvia">
            <h2 class="directiva-titulo">Vice Presidente de Energía</h2>
            <p class="directiva-nombre">Silvia Dioses Farfán</p>
            <p class="directiva-cargo">Directora de Gestión Empresarial</p>
            <p class="directiva-empresa">
              Red de Energía del Perú
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="directiva-card-par">
      <div class="card-box">

        <div class="box-par">
          <img src="/src/assets/img/caja-degradada.png">
          <div class="card-description-alessandri">
            <h2 class="directiva-titulo">Vice Presidente de Hidrocarburos</h2>
            <p class="directiva-nombre">Alessandri Zapata</p>
            <p class="directiva-cargo">
              Jefe de Transformación Digital
            </p>
            <p class="directiva-empresa">
              Graña y Montero Petrolera S.A.
            </p>
          </div>
        </div>
        
      </div>
      <div class="card-img">
        <img src="/src/assets/img/alessandri.jpg" alt="Alessandri Zapata">
      </div>
    </div>

  </div>
</section>