<section id="ediciones">
  <h2 class="titulo-seccion ediciones">Ediciones 2019-2018</h2>

  <div class="ediciones not-full">

    <div class="edicion">
      <div class="edicion-title">
        <h3>2019</h3>
      </div>
      
      {{!-- Caja contenedora de colmnas --}}
      <div id="content-wraper" class="ligthbox">
        {{!-- Si queremos más de un elemento a lo ancho esta sería una columna --}}
        <div class="column">
          <img id="featured" src="/src/assets/img/ticar-2019/foto-principal.jpg">

          <div id="slide-wrapper">
            <img src="/src/assets/img/left.png" id="slideLeft" class="arrow">

            <div id="slider">
              <img class="thumbnail active" src="/src/assets/img/ticar-2019/foto-principal.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto1.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto2.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto3.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto4.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto5.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto6.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto7.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto8.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto9.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto10.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto11.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto12.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto13.jpg">
              <img class="thumbnail" src="/src/assets/img/ticar-2019/foto14.jpg">
            </div>

            <img src="/src/assets/img/right.png" id="slideRight" class="arrow">

          </div>

        </div>

      </div>

    </div>

    <div class="edicion">
      <div class="edicion-title">
        <h3>2018</h3>
      </div>
      
      {{!-- Caja contenedora de colmnas --}}
      <div id="content-wraper2" class="ligthbox">
        {{!-- Si queremos más de un elemento a lo ancho esta sería una columna --}}
        <div class="column">
          <img id="featured2" src="/src/assets/img/ticar-2018/foto-principal.jpg">

          <div id="slide-wrapper2">
            <img src="/src/assets/img/left.png" id="slideLeft2" class="arrow">

            <div id="slider2">
              <img class="thumbnail2 active2" src="/src/assets/img/ticar-2018/foto-principal.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto1.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto2.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto3.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto4.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto5.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto6.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto7.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto8.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto9.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto10.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto11.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto12.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto13.jpg">
              <img class="thumbnail2" src="/src/assets/img/ticar-2018/foto14.jpg">
            </div>

            <img src="/src/assets/img/right.png" id="slideRight2" class="arrow">

          </div>

        </div>

      </div>

    </div>

  </div>
  
</section>