<section id="ediciones">
  <h2>Ediciones 2019-2018</h2>

  <div class="ediciones">

    <div class="edicion">
      <div class="edicion-title">
        <h3>2019</h3>
      </div>
      <div class="edicion-img">
        <img src="/src/assets/img/ticar-2019/foto-principal.jpg">
      </div>

      <div class="slider">

        <div class="slider-container">
          <button aria-label="Anterior"
                  class="anterior">
            <img src="/src/assets/img/flecha.png" alt="anterior">
          </button>

          <div class="slider-lista">
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto1.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto2.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto3.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto4.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto5.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto6.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto7.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto8.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto9.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto10.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto11.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto12.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto13.jpg">
            </div>
            <div class="slider-elemento">
              <img src="/src/assets/img/ticar-2019/foto14.jpg">
            </div>
          </div>
          <button aria-label="Siguiente"
                  class="siguiente">
            <img src="/src/assets/img/flecha.png" alt="siguiente">
          </button>
        </div>

        <div role="tablist" class="slider-indicadores"></div>

      </div>

    </div>

    <div class="edicion">
      <div class="edicion-title">
        <h3>2018</h3>
      </div>
      <div class="edicion-img">
        <img src="/src/assets/img/ticar-2018/foto-principal.jpg">
      </div>

      <div class="slider">

        <div class="slider2-container">
          <button aria-label="Anterior"
                  class="anterior2">
            <img src="/src/assets/img/flecha.png" alt="anterior">
          </button>

          <div class="slider2-lista">
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto1.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto2.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto3.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto4.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto5.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto6.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto7.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto8.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto9.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto10.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto11.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto12.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto13.jpg">
            </div>
            <div class="slider2-elemento">
              <img src="/src/assets/img/ticar-2018/foto14.jpg">
            </div>
          </div>
          <button aria-label="Siguiente"
                  class="siguiente2">
            <img src="/src/assets/img/flecha.png" alt="siguiente">
          </button>
        </div>

        <div role="tablist" class="slider2-indicadores"></div>

      </div>


    </div>

  </div>
  
</section>