<section class="nosotros">
  <div class="nosotros-header">
    <div class="icon-casco">
      <img src="/src/assets/img/casco-amarillo.png" alt="Icono casco">
    </div>
    <h2 id="nosotros" class="text-center titulo-seccion">Sobre Nosotros</h2>
  </div>

  <div class="not-full">
    <div class="nosotros-text">
      <p class="parrafo">
        Somos el primer evento de Tecnología e Innovación del Sector minero energético, organizado por el comité de Tecnología e innovación de la Sociedad Nacional de Minería, Petróleo y Energía (SNMPE), que reúne en un sólo espacio a los principales ejecutivos del sector minero energético, a destacados expositores nacionales e internacionales, a la Academia y a los Proveedores líderes del mercado.
      </p>
      <p class="parrafo">
        Nuestro propósito es compartir e intercambiar experiencias, presentar las últimas tendencias tecnológicas y analizar las oportunidades de desarrollo de innovación en la industria minero-energética.
      </p>
      <div class="nosotros-text-gris">
        <h4 class="sub-titulo">
          Comité de Tecnología e Innovación
        </h4>
        <p class="parrafo gris">
          El comité de Tecnología e Innovación nace como iniciativa de los responsables de las áreas de TI de las empresas agremiadas a la SNMPE, en su interés común de encontrar soluciones y resolver problemas que afectan a las actividades del sector minero energético. Este Comité está conformado por los Gerentes de TI y Gerentes de Innovación de las empresas agremiadas.
        </p>

      </div>

    </div>

    <div class="nosotros-icons">

      <div class="nosotros-card-icon">
        <div class="nosotros-card-img">
          <img src="/src/assets/img/icon-cohete.png" alt="Icon Cohete">
        </div>
        <h4 class="sub-titulo-icon">Innovación</h4>
      </div>

      <div class="nosotros-card-icon">
        <div class="nosotros-card-img mas">
          <img src="/src/assets/img/icon-mas.png" alt="Más">
        </div>
      </div>

      <div class="nosotros-card-icon">
        <div class="nosotros-card-img">
          <img src="/src/assets/img/icon-tecnologia.png" alt="Tecnología">
        </div>
        <h4 class="sub-titulo-icon">Tecnología</h4>
      </div>

      <div class="nosotros-card-icon">
        <div class="nosotros-card-img mas">
          <img src="/src/assets/img/icon-mas.png" alt="Más">
        </div>
      </div>

      <div class="nosotros-card-icon">
        <div class="nosotros-card-img">
          <img src="/src/assets/img/icon-casco.png" alt="Sector Minero">
        </div>
        <h4 class="sub-titulo-icon">Sector Minero Energético</h4>
      </div>

      <div class="nosotros-card-icon">
        <div class="nosotros-card-img mas">
          <img src="/src/assets/img/icon-igual.png" alt="Igual">
        </div>
      </div>

      <div class="nosotros-card-icon">
        <div class="nosotros-card-img ticar">
          <img src="/src/assets/img/logo-ticar.png" alt="Ticar">
        </div>
      </div>

    </div>
    
  </div>
</section>