<section id="organizadores">
  <h2 class="titulo-seccion organizadores">Organizadores</h2>

  <div class="not-full">

    <div class="organizadores-title">
      <h3>Organiza:</h3>
    </div>
    <div class="organizadores-img">
      <p>Comité de Tecnología e Innovación</p>
      <img src="/src/assets/img/sociedad-nacional.jpg" alt="Sociedad Nacional de Mineria">
    </div>

    <div class="organizadores-title">
      <h3>Patrocina:</h3>
    </div>
    <div class="organizadores-patrocinadores">
      <img src="/src/assets/img/movistar.png" alt="Movistar">
      <img src="/src/assets/img/huawei.png" alt="Huawei">
      <img src="/src/assets/img/nokia.jpg" alt="Nokia">
    </div>

    <div class="organizadores-title">
      <h3>Auspicia:</h3>
    </div>
    <div class="organizadores-patrocinadores maspequeno">
      <img src="/src/assets/img/mdp.png" alt="MDP">
      <img src="/src/assets/img/internexa.png" alt="Internexa">
      <img src="/src/assets/img/fortinet.png" alt="Fortinet">
      <img src="/src/assets/img/sap.jpg" alt="SAP">
    </div>

  </div>

</section>