<section id="speakers">
  <h2 class="text-center titulo-seccion speakers">Speakers</h2>
  <div class="speakers-cards">

    <div class="speakers-card">
      <img src="/src/assets/img/christine.jpg" alt="Christine">
    </div>

    <div class="speakers-card">
      <img src="/src/assets/img/marushka-ch.jpg" alt="Christine">
    </div>

    <div class="speakers-card">
      <img src="/src/assets/img/bashir-fancyss.jpg" alt="Christine">
    </div>

    <div class="speakers-card">
      <img src="/src/assets/img/terry-c.jpg" alt="Christine">
    </div>

    <div class="speakers-card">
      <img src="/src/assets/img/dorn-carraza.jpg" alt="Christine">
    </div>

    <div class="speakers-card">
      <img src="/src/assets/img/dario-zegarra.jpg" alt="Christine">
    </div>

  </div>
</section>