<section id="speakers">
  <h2 class="text-center titulo-seccion speak">
    Speakers
  </h2>
  <div class="speakers">

    <div class="speakers-card">
      <div class="speakers-card-content">
        <img src="/src/assets/img/christine.jpg" alt="Christine">
        <div class="speakers-card-description">
          <p class="speakers-card-name">
            Christine Gibbs
          </p>
          <p class="speakers-card-role">
            (CEO AUSTMINE)
          </p>
          <p class="speakers-card-country">
            Australia
          </p>
        </div>
      </div>
      
      <div class="Box-btn">
        <button id="openCh" class="btn-modal">
          Artículo
        </button>
      </div>
    </div>

    <div class="speakers-card">
      <div class="speakers-card-content">
        <img src="/src/assets/img/marushka-ch.jpg" alt="Marushka">
        <div class="speakers-card-description">
          <p class="speakers-card-name">
            Marushka Chocobar
          </p>
          <p class="speakers-card-role">
            (Secretaria Gobierno Digital)
          </p>
          <p class="speakers-card-country">
            Perú
          </p>
        </div>
      </div>
      
      <div class="Box-btn">
        <button id="openMa" class="btn-modal">
          Artículo
        </button>
      </div>
    </div>

    <div class="speakers-card">
      <div class="speakers-card-content">
        <img src="/src/assets/img/bashir-fancyss.jpg" alt="Bashir">
        <div class="speakers-card-description">
          <p class="speakers-card-name">
            Bashir Fancy
          </p>
          <p class="speakers-card-role">
            (President of BizTech Professionals Association)
          </p>
          <p class="speakers-card-country">
            Canada
          </p>
        </div>
      </div>
      
      <div class="Box-btn">
        <button id="openBa" class="btn-modal">
          Artículo
        </button>
      </div>
    </div>

    <div class="speakers-card">
      <div class="speakers-card-content">
        <img src="/src/assets/img/terry-c.jpg" alt="Terry">
        <div class="speakers-card-description">
          <p class="speakers-card-name">
            Terry Cutler
          </p>
          <p class="speakers-card-role">
            (Founder and CEO Cyology Labs Inc)
          </p>
          <p class="speakers-card-country">
            Canada
          </p>
        </div>
      </div>
      
      <div class="Box-btn">
        <button id="openTe" class="btn-modal">
          Artículo
        </button>
      </div>
    </div>

    <div class="speakers-card">
      <div class="speakers-card-content">
        <img src="/src/assets/img/dorn-carraza.jpg" alt="Dorn">
        <div class="speakers-card-description">
          <p class="speakers-card-name">
            Dorn Carranza
          </p>
          <p class="speakers-card-role">
            Associate Director for Strategic Partnerships and Innovation Administration USA - Science, Technology & Innovation
          </p>
          <p class="speakers-card-country">
            Estados Unidos
          </p>
        </div>
      </div>
      
      <div class="Box-btn">
        <button id="openDo" class="btn-modal">
          Artículo
        </button>
      </div>
    </div>

    <div class="speakers-card">
      <div class="speakers-card-content">
        <img src="/src/assets/img/dario-zegarra.jpg" alt="Dario">
        <div class="speakers-card-description">
          <p class="speakers-card-name">
            Darío Zegarra
          </p>
          <p class="speakers-card-role">
            (Vice Presidente de asuntos corporativos Antamina)
          </p>
          <p class="speakers-card-country">
            Perú
          </p>
        </div>
      </div>
      
      <div class="Box-btn">
        <button id="openDa" class="btn-modal">
          Artículo
        </button>
      </div>
    </div>

  </div>
</section>