<section class="titular">
  <h2 class="text-center btn">21 al 25 de septiembre</h2>
  <p class="text-center titular-hora">
    17:00 - 19:00 HRS
  </p>
  <p class="text-center titular-aviso">
    Formato virtual, transmitido por:
  </p>
  <div class="icon-zoom">
    <img src="/src/assets/img/logo-zoom.png" alt="Logo zoom">
  </div>
  <div class="text-center titular-cta">
    <a class="btn" href="https://zoom.us/webinar/register/WN_BE_DBlkZRl2r2zuXeVa7JQ" target="_blank" rel="noopener noreferrer">
      Inscríbete aquí
    </a>
  </div>
  <div class="text-center titular-slogan">
    <h3>
      Único evento organizado
    </h3>
    <p>
      Por las empresas del sector
    </p>
  </div>
</section>
